.desktop3-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desktop3-desktop3 {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(33, 158, 166, 1);
}
.desktop3-image66d68c0b22af428ba4d004c38b686c131 {
  top: 0px;
  left: 1px;
  width: 162px;
  height: 145px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
  border-radius: 190.5px;
}
.desktop3-rectangle1 {
  top: 183px;
  left: 76px;
  width: 372px;
  height: 559px;
  position: absolute;
  border-radius: 40px 40px 20px 20px;
}
.desktop3-rectangle2 {
  top: 183px;
  left: 527px;
  width: 372px;
  height: 559px;
  position: absolute;
  border-radius: 40px 40px 20px 20px;
}
.desktop3-rectangle3 {
  top: 183px;
  left: 994px;
  width: 372px;
  height: 559px;
  position: absolute;
  border-radius: 40px 40px 20px 20px;
}
.desktop3-unsplashw8p9c-qdlx7i {
  top: 183px;
  left: 994px;
  width: 372px;
  height: 248px;
  position: absolute;
  border-radius: 40px 40px 0 0;
}
.desktop3-rectangle4 {
  top: 474px;
  left: 122px;
  width: 277px;
  height: 50px;
  position: absolute;
  border-radius: 20px;
}
.desktop3-rectangle5 {
  top: 571px;
  left: 104px;
  width: 277px;
  height: 50px;
  position: absolute;
}
.desktop3-rectangle6 {
  top: 571px;
  left: 581px;
  width: 277px;
  height: 50px;
  position: absolute;
  border-radius: 20px;
}
.desktop3-rectangle7 {
  top: 474px;
  left: 581px;
  width: 277px;
  height: 50px;
  position: absolute;
  border-radius: 20px;
}
.desktop3-rectangle8 {
  top: 474px;
  left: 1041px;
  width: 277px;
  height: 50px;
  position: absolute;
  border-radius: 20px;
}
.desktop3-rectangle9 {
  top: 571px;
  left: 1039px;
  width: 277px;
  height: 50px;
  position: absolute;
  border-radius: 20px;
}
.desktop3-text {
  top: 489px;
  left: 139px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Lexend;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop3-text02 {
  top: 586px;
  left: 139px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Lexend;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop3-ellipse1button {
  top: 657px;
  left: 183px;
  width: 140px;
  height: 60px;
  position: absolute;
}
.desktop3-ellipse2button {
  top: 651px;
  left: 643px;
  width: 140px;
  height: 60px;
  position: absolute;
}
.desktop3-text04 {
  top: 662px;
  left: 177px;
  color: rgba(255, 255, 255, 1);
  width: 152px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Lexend;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop3-text06 {
  top: 485px;
  left: 598px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Lexend;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop3-text08 {
  top: 586px;
  left: 598px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Lexend;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop3-text12 {
  top: 657px;
  left: 638px;
  color: rgba(255, 255, 255, 1);
  width: 152px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Lexend;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop3-text14 {
  top: 485px;
  left: 1061px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Lexend;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop3-text16 {
  top: 586px;
  left: 1068px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Lexend;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop3-rectangle10 {
  top: 843px;
  left: -14px;
  width: 1454px;
  height: 181px;
  position: absolute;
}
.desktop3-image66d68c0b22af428ba4d004c38b686c132 {
  top: 869px;
  left: 179px;
  width: 159px;
  height: 146px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
  border-radius: 190.5px;
}
.desktop3-text18 {
  top: 867px;
  left: 444px;
  color: rgba(33, 158, 166, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Lexend;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop3-text20 {
  top: 867px;
  left: 764px;
  color: rgba(33, 158, 166, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Lexend;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop3-text22 {
  top: 17px;
  left: 198px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: center;
  font-family: Lexend;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop3-text24 {
  top: 910px;
  left: 431px;
  color: rgba(33, 158, 166, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Lohit Devanagari;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop3-text28 {
  top: 910px;
  left: 764px;
  color: rgba(33, 158, 166, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Lohit Devanagari;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop3-text30 {
  top: 942px;
  left: 764px;
  color: rgba(33, 158, 166, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Lohit Devanagari;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop3-arrowbutton {
  top: 0.776846706867218px;
  left: 1439.793701171875px;
  width: 97px;
  height: 97px;
  position: absolute;
}
.desktop3-unsplashak-pctn2g0j-m {
  top: 183px;
  left: 76px;
  width: 374px;
  height: 249px;
  position: absolute;
  border-radius: 40px 40px 0 0;
}
.desktop3-unsplash-f-vhyq-lr9e-a {
  top: 182px;
  left: 526px;
  width: 374px;
  height: 249px;
  position: absolute;
  border-radius: 40px 40px 0 0;
}
.desktop3-ellipse3button {
  top: 651px;
  left: 1110px;
  width: 140px;
  height: 60px;
  position: absolute;
}
.desktop3-text32 {
  top: 666px;
  left: 1154px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Lohit Devanagari;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
